a {
    text-decoration: none;
    color: aliceblue;
}

body {
    color: aliceblue;
    background-color: cornflowerblue;
    font-family: Fira Mono, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3em;
    height: 100vh;
}

.trebe {
    color: red;
}

.question {
    border: 2px aliceblue solid;
    padding: 5px;
    display: none;
    height: 40px;
    width: 200px;
    text-align: center;
    font-size: large;
}

.question:hover {
    border: 2px aliceblue solid;
    padding: 5px;
    background-color: rgb(72, 129, 234);
}

fieldset {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 2em;
    padding: 60px;
    font-size: x-large;
}

button {
    border: 2px aliceblue solid;
    padding: 5px;
    background-color: cornflowerblue;
    width: 200px;
    height: 50px;
    transform: scale(1.0);
    transition-property: transform;
    transition-duration: 200ms;
    transition-timing-function: ease;
    color: aliceblue;
    font-size: large;
}

button:hover {
    background-color: rgb(72, 129, 234);
    transform: scale(0.95);
}

svg {
    height: 40px;
    transition-property: height;
    transition-duration: 500ms;
    transition-timing-function: ease;
    fill: burlywood;
    /* position: absolute; */
}

#barcuta1 {
    /* top: 100px;
    left: 100px; */
    fill: blue;
}

#barcuta2 {
    /* top: 300px;
    right: 50px; */
    fill: yellow;
}

#barcuta3 {
    /* bottom: 100px;
    left: 500px; */
    fill: red;
}

.majoc {
    position: absolute;
}

#ab1 {
    position: absolute;
    left: 100px;
    top: 500px;
}

#ab2 {
    position: absolute;
    left: 200px;
    top: 30px;
}

#ab3 {
    position: absolute;
    left: 1200px;
    top: 600px;
}

legend {
    font-size: x-large;
}

input {
    font-size: large;
}