* {
    margin: 0;
    padding: 0;
}

body {
    background: radial-gradient(#2b9bd6,#3b7cc5);
    color: aliceblue;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
    height: 100vh;
    flex-wrap: wrap;
}

.game_container {
    display: flex;
    gap: 6em;
}

.board {
    width: 400px;
    height: 400px;
    background-color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    opacity: 1;
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    color: black;
}

header p {
    text-align: center;
    font-size: 40px;
}

header {
    background-color: antiquewhite;
    height: 2em;
    color: black;
    text-align: center;
    font-size: 40px;
}

.ship_deck {
    width: 400px;
    height: 400px;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.ship1 {
    width: 40px;
    height: 40px;
    border: 2px solid blue;
    background-color: rgba(0, 0, 255, 0.285);
    box-sizing: border-box;
}

.ship2 {
    width: 80px;
    height: 40px;
    border: 2px solid blue;
    background-color: rgba(0, 0, 255, 0.285);
    box-sizing: border-box;
}

.ship3 {
    width: 120px;
    height: 40px;
    border: 2px solid blue;
    background-color: rgba(0, 0, 255, 0.285);
    box-sizing: border-box;
}

.ship4 {
    width: 160px;
    height: 40px;
    border: 2px solid blue;
    background-color: rgba(0, 0, 255, 0.285);
    box-sizing: border-box;
}

.butonStart {
    width: 120px;
    height: 50px;
    background-color: azure;
    color: black;
    border-radius: 25px;
    border: 2px black solid;
    padding: 10px;
    transform: scale(1.0);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: transform;
    transition-duration: 200ms;
}

.butonStart:active {
    transform: scale(0.85);
}

.botboard {
    width: 400px;
    height: 400px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}

.botblock {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    color: black;
}

.randomize {
    width: 120px;
    height: 50px;
    background-color: azure;
    color: black;
    border-radius: 25px;
    border: 2px black solid;
    padding: 10px;
    transform: scale(1.0);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: transform;
    transition-duration: 200ms;
}

.randomize:active {
    transform: scale(0.85);
}


