* {
    margin: 0;
    padding: 0;
    
}

body {
    background-image: linear-gradient(to bottom,#65000b,#E44D2E);
    color: aliceblue;
    font-family: Fira Mono, monospace;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
    min-height: 90vh;
    flex-wrap: wrap;
    padding: 3em;
}

.game_container {
    display: flex;
    gap: 6em;
}

.board {
    width: 500px;
    height: 500px;
    background-color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    opacity: 1;
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    color: black;
}

header {
    height: auto;
    color: black;
    text-align: center;
    font-size: 30px;
}

header div {
    padding: 5px;
    color: burlywood;
    border: 2px solid burlywood;
}

header a {
    color: burlywood;
}

.ship_deck {
    width: 500px;
    height: 500px;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.ship1 {
    width: 50px;
    height: 50px;
    border: 2px solid burlywood;
    background-color: rgba(222, 184, 135, 0.404);
    box-sizing: border-box;
}

.ship2 {
    width: 100px;
    height: 50px;
    border: 2px solid burlywood;
    background-color: rgba(222, 184, 135, 0.404);
    box-sizing: border-box;
}

.ship3 {
    width: 150px;
    height: 50px;
    border: 2px solid burlywood;
    background-color: rgba(222, 184, 135, 0.404);
    box-sizing: border-box;
}

.ship4 {
    width: 200px;
    height: 50px;
    border: 2px solid burlywood;
    background-color: rgba(222, 184, 135, 0.404);
    box-sizing: border-box;
}

.butonStart {
    width: 120px;
    height: 50px;
    background-color: azure;
    color: black;
    border-radius: 25px;
    border: 2px black solid;
    padding: 10px;
    transform: scale(1.0);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: transform;
    transition-duration: 200ms;
}

.butonStart:hover {
    transform: scale(0.9);
}

.botboard {
    width: 500px;
    height: 500px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}

.botblock {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    color: black;
}

.randomize {
    width: 120px;
    height: 50px;
    background-color: azure;
    color: black;
    border-radius: 25px;
    border: 2px black solid;
    padding: 10px;
    transform: scale(1.0);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: transform;
    transition-duration: 200ms;
}

.randomize:hover {
    transform: scale(0.9);
}

a {
    text-decoration: none;
}

header {
    display: grid;
    grid-template-columns: 5fr 10fr 5fr 1fr;
    padding: 10px;
    gap: 1em;
}

svg {
    width: 60px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    padding: 2em;
    height: auto;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 3em;
    color: black;
}

#bossimg {
    align-self: center;
}

@media (max-width:600px) {
    .board {
        height: 300px;
        width: 300px;
    }

    .botboard {
        height: 300px;
        width: 300px;
    }

    .block {
        height: 30px;
        width: 30px;
    }   

    .botblock {
        height: 30px;
        width: 30px;
    }

    .ship_deck {
        height: 300px;
        width: 300px;
    }

    .ship1 {
        height: 30px;
        width: 30px;
    }

    .ship2 {
        height: 30px;
        width: 60px;
    }

    .ship3 {
        height: 30px;
        width: 90px;
    }

    .ship4 {
        height: 30px;
        width: 120px;
    }
}